<h1>Listing medicamentes</h1>

<table>
  <tr>
    <th>Clasa</th>
    <th>Nume</th>
    <th>Interval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medicamentes.each do |medicamente| %>
  <tr>
    <td><%= medicamente.clasa %></td>
    <td><%= medicamente.nume %></td>
    <td><%= medicamente.interval %></td>
    <td><%= link_to 'Show', medicamente %></td>
    <td><%= link_to 'Edit', edit_medicamente_path(medicamente) %></td>
    <td><%= link_to 'Destroy', medicamente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medicamente', new_medicamente_path %>
